/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v18-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-v18-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 1px dotted #7296ec;
  border-radius: 10px;
  padding: 13px 20px;
}

ul,
ol {
  list-style: none;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  display: flex;
  object-fit: cover;
}
main {
  flex-grow: 1;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 21.12px;
  color: rgba(79, 79, 79, 1);
  background-color: rgba(255, 255, 255, 1);
}
.container {
  width: 100%;
  max-width: 1260px;
  padding: 0 140px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin: 0;
}
/* Header start */

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 50px 56px;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
}

.sitenav__list {
  display: flex;

  align-items: center;
  gap: 48px;
}

.sitenav__link {
  color: rgba(51, 51, 51, 1);
  font-weight: 500;
  line-height: 20px;
}

.btn__self {
  padding: 10px 15px;
  background-color: rgba(100, 123, 100, 1);
  color: rgba(254, 254, 254, 1);
  font-weight: 500;
  line-height: 20px;
  border-radius: 3px;
  border: 0;
  &:hover {
    opacity: 60%;
  }
  &:active {
    background-color: rgba(14, 112, 175, 1);
  }
}
/* Header end */
/* Hero start */

.hero__container {
  display: flex;
  justify-content: space-between;
  background-image: url(./img/shadow.svg);
  background-position: bottom 80% right;
  background-repeat: no-repeat;
}
.hero__text {
  /* width: 100%; */
  /* max-width: 495px; */
  padding: 140px 0;
}
.hero__text__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 55.68px;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 24px;
}
.hero__text__description {
  font-size: 20px;
  line-height: 26.4px;
  margin-bottom: 32px;
  width: 100%;
  max-width: 479px;
}
.hero__text__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 29px 6px 27px;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(NaN, 186, NaN, 0);
  -moz-box-shadow: 0px 20px 40px 0px rgba(NaN, 186, NaN, 0);
  box-shadow: 0px 20px 40px 0px rgba(NaN, 186, NaN, 0);
  width: 100%;
  max-width: 350px;
  border: 0;
  background-color: rgba(100, 123, 100, 1);
  &:hover {
    opacity: 50%;
  }
  &:active {
    opacity: 80%;
  }
}
.btn__description {
  font-weight: 900;
  font-size: 16px;
  line-height: 20.08px;
  color: rgba(254, 254, 254, 1);
  width: 100%;
  max-width: 135px;
  text-align: left;
  border-radius: 2px;
}

/* hero end */
/* Consectet start */

.consectet__container {
  display: flex;
  align-items: center;
  gap: 109px;
  justify-content: space-between;
  background-image: url(./img/cosectet-right-bg-img.svg);
  background-repeat: no-repeat;
  background-position: left -170px top;
}

.consectet__subtitle {
  color: rgba(243, 181, 98, 1);
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  margin-bottom: 21px;
}
.consectet__title {
  font-weight: 500;
  font-size: 41px;
  line-height: 45.1px;
  color: rgba(100, 123, 100, 1);
  margin-bottom: 40px;
}
.consectet__description {
  width: 100%;
  max-width: 412px;
  margin-bottom: 19px;
}

.consectet__boxs {
  padding-top: 40px;
}
.consectet__box__wraper {
  display: flex;
  gap: 78px;
}
.consectet__box_color {
  margin-bottom: 54px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5.87px 31.33px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5.87px 31.33px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5.87px 31.33px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  width: 100%;
  max-width: 288px;
  padding-left: 40px;
  padding: 10px 10px;
}
.consectet__box__img_color {
  padding-left: 40px;
  padding-top: 40px;
  background-color: rgba(100, 123, 100, 1);
  border-radius: 8px;
  padding: 10px 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}
.consectet__box__title {
  margin-bottom: 6px;
}
.consectet__box__description {
  width: 100%;
  max-width: 221px;
  font-size: 14px;
  line-height: 17.16px;
  color: rgba(79, 79, 79, 1);
  margin: 0 78px 54px 0;
}

.consectet__box__img {
  background-color: rgba(255, 255, 255, 1);
  margin: 0 78px 0 0;
  margin-bottom: 16px;
  /* margin: 40px 40px 16px 40px; */
}
/*Consectet end */
/* SERVICES START */

.services__subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  color: rgba(243, 181, 98, 1);
  margin-bottom: 21px;
  margin-top: 147px;
}
.services__title {
  text-align: center;
  font-weight: 500;
  font-size: 41px;
  line-height: 45.1px;
  color: rgba(100, 123, 100, 1);
  margin-bottom: 56px;
}
.services__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 171px;
}
.services__item {
  width: 100%;
  max-width: 360px;
  background-image: url(./img/text-bg-img.svg);
  background-position: bottom center;
  height: 100%;
  max-height: 338px;
}
.services__img {
  margin: 78px auto 24px 50px;
}
.services__img__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 27.84px;
  color: rgba(51, 51, 51, 1);
  margin: 0px auto 6px 50px;
}
.services__img__subtitle__description {
  font-weight: 500;
  line-height: 21.12px;
  color: rgba(79, 79, 79, 1);
  margin: 0px auto 24px 50px;
}
.services__item__color {
  background-color: rgba(100, 123, 100, 1);
  border-radius: 8px;
  width: 100%;
  max-width: 360px;
  height: 100%;
  max-height: 338px;
}
.services__img__subtitle__color {
  font-weight: 500;
  font-size: 24px;
  line-height: 27.84px;
  margin: 0px 50px 6px 50px;
  color: rgba(255, 255, 255, 1);
}
.services__img__subtitle__description__color {
  font-weight: 500;
  line-height: 21.12px;
  color: rgba(255, 255, 255, 1);
  margin: 0px 50px 24px 50px;
}
/* SERVICES END */
/* ABOUT START */

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(./img/aboutImg.svg);
  background-repeat: no-repeat;
  background-position: left 217px top 44px;
  gap: 158px;
}

.about__img {
  margin-bottom: 197px;
}

.about__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29.01px;
  color: rgba(243, 181, 98, 1);
  margin-bottom: 21px;
}
.about__title {
  font-weight: 500;
  font-size: 41px;
  line-height: 45.1px;
  color: rgba(100, 123, 100, 1);
  margin-bottom: 24px;
}
.about__description {
  font-size: 16px;
  line-height: 21.12px;
  color: rgba(79, 79, 79, 1);
  padding-bottom: 19px;
}

/* ABOUT END */
/* testimonial START */

.testimonial__list {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
}
.testimonial__item {
  background-image: url(./img/text-bg-img.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
}
.testimonial__img {
  margin-bottom: 24px;
}
.testimonial__description {
  font-size: 16px;
  font-style: italic;
  line-height: 21.12px;
  color: rgba(79, 79, 79, 1);
  width: 100%;
  max-width: 260px;
}
/*testimonial END */
/* FOOTER START */
.footer {
  background-color: rgba(240, 220, 197, 1);
  margin-top: 172px;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 97px;
  padding-bottom: 102px;
}

.header__logo__img {
  margin-bottom: 25.58px;
}
.footer__description {
  font-size: 14px;
  line-height: 18.48px;
  color: rgba(79, 79, 79, 1);
  margin-bottom: 16px;
  width: 249px;
}
.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(79, 79, 79, 1);
  margin-bottom: 27px;
}
.footer__description__list {
  display: flex;
  gap: 16px;
}
.footer__description__item {
  background-color: rgba(100, 123, 100, 1);

  border-radius: 50%;
}
.footer__description__img {
  opacity: none;
  color: rgba(100, 123, 100, 1);
}

.footer__subtitle {
  color: rgba(100, 123, 100, 1);

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
}

.footer__lorem__item {
  font-size: 16px;
  color: rgba(51, 51, 51, 1);
  line-height: 26px;
  margin-bottom: 12px;
}

.footer__ipsum__item {
  font-size: 16px;
  color: rgba(51, 51, 51, 1);
  line-height: 26px;
  margin-bottom: 12px;
}
.footer__input__wrapper {
  display: flex;
  flex-direction: column;
}
.input__subtitle {
  margin-bottom: 13px;
}
.textarea {
  padding-top: -11px;
  width: 283px;
  height: 113px;
  resize: none;
  padding: 12px 24px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(79, 79, 79, 1);
  margin-bottom: 28px;
  border: none;
}
.footer__text__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 22px;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(NaN, 186, NaN, 0);
  -moz-box-shadow: 0px 20px 40px 0px rgba(NaN, 186, NaN, 0);
  box-shadow: 0px 20px 40px 0px rgba(NaN, 186, NaN, 0);
  width: 100%;
  max-width: 350px;
  border: 0;
  background-color: rgba(100, 123, 100, 1);
  border-radius: 1.55px;
  &:hover {
    opacity: 50%;
  }
  &:active {
    opacity: 90%;
  }
}
.footer__text__description {
  color: rgba(254, 254, 254, 1);
  font-weight: 900;
  font-size: 12.41px;
  line-height: 15.51px;
}

/* FOOTER END */
